@use "../../variables";

.wrapper {
  background: variables.$bg-color1;
  padding: 5rem 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 225px;
    border-radius: 552px;
    background: #395779;
    filter: blur(197px);
  }
}

.row {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 4rem;
}

.stars {
  display: flex;
  gap: 0.5rem;

  :nth-child(2),
  :nth-child(4) {
    position: relative;
    top: -1rem;
  }
  :nth-child(3) {
    position: relative;
    top: -2rem;
  }
}

.examples {
  flex: 1 0 50%;
  position: relative;
  min-height: 80vh;

  :first-child {
    z-index: 20;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.heading {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  animation: moveFade 2s ease-in-out forwards;

  &__description {
    font-size: 1.6rem;
    color: variables.$tertiary-color;
    text-align: center;
  }

  &__title {
    font-weight: bolder;
    font-size: 3.2rem;
    color: #fff;
    line-height: 106%;
    text-align: center;

    span {
      color: variables.$secondary-color;
    }
  }
}

// Medias
@media (width < 768px) {
  .wrapper {
    min-height: 100vh;
  }

  .row {
    flex-direction: column;
  }

  .examples {
    order: 1;
    min-height: 50vh;
  }

  .heading {
    order: 2;
  }
}
