@import "../../variables";

.testimonials {
  color: #000;
  text-align: center;
  padding: 4rem 0;
  background-color: $bg-color2;
  margin: 0 4rem;
  border-radius: 20px;

  h1 {
    line-height: 2rem;
  }

  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    color: $secondary-color;
  }

  &__strongP {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    color: #fff;
  }

  &__paragraph {
    font-size: 1.6rem;
    text-align: center;
    color: $tertiary-color;
  }
}

@media (width < 768px) {
  .testimonials {
    margin: 0;
  }
}
