@import "../../variables";

.form {
  padding: 4rem 0;
  color: $secondary-color;
  text-align: center;

  h1 {
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 1.6rem;
    color: $tertiary-color;
  }

  &__pic {
    position: relative;
  }

  &__fields {
    text-align: left;
    font-size: 1.6rem;
    color: $tertiary-color;

    input {
      background-color: transparent;
      color: #fff;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 7px;
      padding: 0.8rem 1rem;
    }

    label {
      width: 16rem;
      display: block;
    }

    textarea {
      background-color: transparent;
      color: #fff;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 7px;
      padding: 0.8rem 1rem;
    }
  }

  &__group {
    margin: 1.5rem 0;
    display: flex;
  }

  &__action {
    text-align: right;
  }

  &__button {
    border: none;
    background-color: #4fd298;
    color: #192b3f;
    padding: 1rem 3rem;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
  }

  &__sent {
    font-size: 1.6rem;
  }

  @media (width < 1200px) {
    h1 {
      line-height: 3rem;
    }

    &__row {
      grid-template-columns: 1fr;
    }

    &__pic {
      min-height: 40rem;
      grid-row: 1;
    }

    &__heading {
      grid-row: 2;
    }
  }
}
