@use "../../variables";

.strategy {
  padding: 4rem 0;
  text-align: center;

  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    color: variables.$secondary-color;
  }

  h1 {
    line-height: 2rem;
    margin-bottom: 4rem;

    @media (width < 990px) {
      line-height: 3.4rem;
    }
  }

  &__paragraph {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2rem 0;
    color: variables.$tertiary-color;
  }
}
