@import "../../variables";

.advantages {
  padding: 4rem 0;

  &__pics {
    position: relative;
    min-height: 40rem;
    flex: 1 0 50%;
  }

  &__row {
    display: flex;
  }

  &__heading {
    flex: 1 0 50%;

    h1 {
      line-height: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__preTitle {
    font-size: 2.4rem;
    color: $secondary-color;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__item {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: $tertiary-color;

    span {
      color: $secondary-color;
    }
  }

  &__listGroup {
    margin-bottom: 3rem;
  }
}

@media (width < 990px) {
  .advantages {
    &__row {
      flex-direction: column;
    }

    &__heading {
      order: 2;
      margin-top: 3rem;
    }

    &__pics {
      order: 1;
    }
  }
}
