@import "../../variables";

.footer {
  background-color: $bg-color2;
  padding: 2rem 0;

  &__text {
    text-align: center;
    font-size: 1.6rem;
    color: $tertiary-color;

    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
