@import "../../variables";

.faq {
  padding: 4rem 0;
  text-align: center;
  border-radius: 20px;
  background: $bg-color2;
  margin: 0 4rem;

  &__title {
    font-size: 4rem;
    font-weight: 700;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    cursor: pointer;
    color: $tertiary-color;

    span {
      color: $secondary-color;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  &__question {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__container {
    max-width: 65rem;
    margin: 4rem auto;
  }

  &__answer {
    font-size: 1.6rem;
    text-align: left;
  }

  @media (width < 768px) {
    margin: 0;
  }
}
