.faq {
  padding: 4rem 0;
  text-align: center;
  border-radius: 20px;
  background: var(--bg-color2);
  margin: 0 4rem;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 225px;
    border-radius: 552px;
    background: url("../../../../public/images/blick-white.svg"), #8888885e;
    filter: blur(197px);
    z-index: -1;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    cursor: pointer;
    color: var(--tertiary-color);

    span {
      color: var(--secondary-color);
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  &__question {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
  }

  &__container {
    max-width: 65rem;
    margin: 4rem auto;
  }

  &__answer {
    font-size: 1.6rem;
    text-align: left;
  }

  @media (width < 768px) {
    margin: 0;
  }
}
