:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-color1: #192b3f;
  --bg-color2: color-mix(in srgb, var(--bg-color1) 60%, black);

  --secondary-color: #4fd298;
  --tertiary-color: #a7c5e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  transition: background-color 0.5s ease-in-out; // Suaviza a transição global
}

body {
  color: var(--foreground);
  background-color: var(--bg-color1);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes moveFade {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
