.button {
  border: none;
  background-color: #4fd298;
  color: #192b3f;
  padding: 1rem 3rem;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1) !important;
  }
}
