@import "../../variables";

.benefits {
  padding: 2rem 0;

  h1 {
    line-height: 3rem;
  }
  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: $secondary-color;
  }
  &__row {
    display: flex;
  }

  &__heading {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__examples {
    flex: 1 0 50%;

    img {
      width: 100%;
      max-height: unset;
    }
  }

  &__list {
    margin-top: 3rem;
  }

  &__description {
    font-size: 1.6rem;
    margin: 2rem 0;
    color: $tertiary-color;
  }
}

@media (width < 768px) {
  .benefits {
    &__row {
      flex-direction: column;
    }

    &__heading {
      order: 2;
      margin-top: 3rem;
    }

    &__examples {
      order: 1;

      img {
        position: relative;
        left: -4vw;
      }
    }
  }
}
