.benefits {
  padding: 2rem 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 225px;
    border-radius: 552px;
    background: url("../../../../public/images/blick-white.svg"), #8888885e;
    filter: blur(197px);
  }

  h1 {
    line-height: 3rem;
  }
  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--secondary-color);
  }
  &__row {
    display: flex;
    gap: 5rem;
  }

  &__heading {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__backExemplo {
    position: absolute;
    top: 11%;
    left: 14%;
    right: 14%;
    bottom: 31%;
    overflow: hidden;

    img {
      position: relative;
      top: 0;
      transition: top 3s ease-in-out;
      width: 100%;
      height: unset;
    }
  }

  &__examples {
    flex: 1 0 50%;
    position: relative;
    min-height: 40rem;

    //  > img {
    //   object-fit: cover;
    //   width: 100%;
    // }
  }

  &__list {
    margin-top: 3rem;
  }

  &__description {
    font-size: 1.6rem;
    margin: 2rem 0;
    color: var(--tertiary-color);
  }

  &__row:hover &__backExemplo img {
    top: -200%;
  }
}

@media (width < 1200px) {
  .benefits {
    &__backExemplo {
      position: absolute;
      top: 18%;
      left: 14%;
      right: 14%;
      bottom: 31%;
      overflow: hidden;
    }
  }
}

@media (width < 994px) {
  .benefits {
    &__row {
      flex-direction: column;
      gap: unset;
    }

    &__heading {
      order: 2;
      margin-top: 3rem;
    }

    &__examples {
      order: 1;
      min-height: 27rem;
    }

    &__backExemplo {
      position: absolute;
      top: 11px;
      left: 27%;
      right: 27%;
      bottom: 29%;
      overflow: hidden;

      img {
        position: relative;
        top: 0;
        transition: top 3s ease-in-out;
        width: 100%;
        height: unset;
      }
    }
  }
}

@media (width < 768px) {
  .benefits {
    &__backExemplo {
      position: absolute;
      left: 19%;
      right: 19%;
      bottom: 29%;
      overflow: hidden;

      img {
        position: relative;
        top: 0;
        transition: top 3s ease-in-out;
        width: 100%;
      }
    }
  }
}

@media (width < 576px) {
  .benefits {
    &__backExemplo {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }

    &__examples > img {
      display: none;
    }
  }
}
