@use "../../variables";

.facilities {
  padding: 5rem 0;
  text-align: center;
  color: #000;

  h1 {
    line-height: 1.9rem;
  }

  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    color: variables.$secondary-color;
  }

  &__cardsContainer {
    display: grid;
    margin: 8rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }

  &__card {
    text-align: center;
  }

  &__cardTitle {
    color: variables.$secondary-color;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__cardText {
    color: variables.$tertiary-color;
    font-size: 1.6rem;
  }

  &__cardImg {
    height: 10rem;
    position: relative;
  }

  @media (width < 990px) {
    &__cardsContainer {
      grid-template-columns: 1fr;
    }

    h1 {
      line-height: 3.4rem;
    }
  }
}
