@import "../../variables";

.wrapper {
  padding: 5rem 0;
  border-radius: 20px;
  background: $bg-color2;
  margin: 0 4rem;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: $tertiary-color;
  margin-bottom: 2rem;

  &__icon {
    font-size: 3.2rem;
    color: #e03e2d;
    margin-right: 1rem;
  }
}

.box {
  margin-top: 2rem;
}

@media (width < 768px) {
  .wrapper {
    margin: 0;
  }
}
