.swiper {
  width: 100%;
  height: 60vh;
  margin: 15px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 0%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #2c4f4b !important;
}
