@import "../../variables";

.portfolio {
  background-color: $bg-color2;
  padding: 4rem 0;
  border-radius: 20px;
  margin: 0 4rem;

  &__preTitle {
    font-size: 2.4rem;
    font-weight: 400;
    color: $secondary-color;
  }

  &__item {
    background-color: $bg-color1;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    min-height: 20rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  &__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

@media (width < 990px) {
  .portfolio {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (width < 768px) {
  .portfolio {
    margin: 0;
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
